@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: 'EB Garamond', serif;
}


/* HOME */
.header {
    width: 100%;
    height: 100px;
    background-color: #890989;
    margin-bottom: 50px;
    color: #F0F8FF;
}

.sentence {
    font-size: 40px;
}

span {
    font-family: 'Satisfy', cursive;
}


/* CARD */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.card__inner {
    position: relative;
    background-color: #890989;
}

.card__inner:hover .div__card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .div__card__img img {
    opacity: 0.1;
}

.card__inner:hover .card__title {
    opacity: 1;
}

.div__card__img {
    background: linear-gradient(to bottom, #890989, #95e1d3);
    transition: transform 0.2s linear;
}

.card__img {
    width: 300px;
    height: 500px;
    display: block;
    transition: opacity 0.1s linear;
}

.card__title {
    width: 100%;

    font-size: 20px;
    color: #F0F8FF;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity 0.2s linear;
}